html {
    background-color: #FAFA96;
    padding: 0px;
}
body {
    width: 80%;
    min-height: calc(100vh - 4em);
    background-color: #FAFAD2;
    border-color: #eeeeee;
    border-left-style: solid;
    border-right-style: solid;

}
h1 {
    color: #000000;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 72pt;
    text-align: center;
    line-height: 72pt;
    margin-top: 0pt;
    margin-bottom: 0pt;
}
.button {
    background-color: #2196f3;
    font-family: 'Noto Sans KR', sans-serif;
    border: none;
    border-radius: 8pt;
    color: #BABABA;
    padding: 8pt;
    width: 50%;
    min-width: 500pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24pt;
    margin: -2px auto;
    cursor: pointer;
}
p {
    color: #000000;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16pt;
    line-height: 1;
    margin: 4pt;
}
