html {
    background-color: #FAFA96;
    padding: 0px;
}
body {
    width: 80%;
    min-height: calc(100vh - 4em);
    background-color: #FAFAD2;
    margin: 0 auto;
    padding: 2em;

}
h1 {
    color: #000000;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 72pt;
    text-align: center;
    line-height: 72pt;
    margin-top: 0pt;
    margin-bottom: 0pt;
}
h2 {
    color: #000000;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    margin-top: 12pt;
}
.button {
    background-color: #2196f3;
    font-family: 'Noto Sans KR', sans-serif;
    border: none;
    border-radius: 8pt;
    color: #FFF;
    padding: 8pt;
    width: 50%;
    min-width: 500pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24pt;
    margin: -2px auto;
    cursor: pointer;
}
p.instruction {
    color: #000000;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16pt;
    line-height: 1;
    margin: 4pt;
}
.small_button, .small_button_off {
    background-color: #333;
    font-family: 'Noto Sans KR', sans-serif;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 8pt;
    width: 10%;
    min-width: 100pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18pt;
    margin: -2px auto;
    cursor: pointer;
}
.small_button_off {
    background-color: #ddd;
    color: #888;
    border: 2px solid #888;
    cursor: not-allowed;
    margin: -4px auto;
}
div.axis {
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: center;
}
div.bar {
    height: 36pt;
    line-height: 36pt;
    padding: 8pt;
    margin-top: 4pt;
    margin-bottom: 4pt;
    background-color: #eeeeee;
    display: block;
    width: 50%;
}
div.text-wrapper {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    color: #222222;
    display: inline-block;
}
div.bias {
    background-color: #f44336;
    text-align: left;
    border-left-style: solid;
}
div.interest {
    background-color: #00897b;
    text-align: left;
    border-left-style: solid;
}
